AS4SERVER/1.0/schemas/AS4Connector2.IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Root">
   <xsd:element name="Input">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element minOccurs="0" name="AttachmentDirectory" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentFilename" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>